<header class="head">
  <div class="window">
    <h1 class="time">{{time}}</h1>
  </div>
  <div class="container_btn">
    <button type="button" class="btn btn-success" (click)="start_time(); start_btn=true" [disabled]="start_btn">Start</button>
    <button type="button" class="btn btn-danger" (click)="stop_time(); start_btn=false" [disabled]="!start_btn">Stop</button>
    <button type="button" class="btn btn-warning" (click)="wait_time()" [disabled]="!start_btn">Wait</button>
    <button type="button" class="btn btn-info" (click)="reset_time()" [disabled]="!start_btn">Reset</button>
  </div>

</header>